@import 'colors';

$borderRadius: 5px;
$border: 1px solid #999;

body, option, input, button {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

div.nav-bar {
  background: $lightGray;
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    li {
      padding: 0.5em;
      a {
        color: $gray;
      }
      a:link {
        text-decoration: none;
      }
    }
  }
}

div.content {
  padding: 2em;
}

div.search {
  ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      div.restaurant {
        margin: 0.125em;
        padding: 0;
        border-radius: $borderRadius;
        border: $border;
        height: 130px;
        width: 130px;
        opacity: 0.75;
        background-position: center;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

div.restaurant {
  img {
    border-radius: $borderRadius;
    border: $border;
  }
}

div.index {
  border: 1px solid #aaa;
  padding: 1em;
  border-radius: 5px;

  h2 {
    color: #333;
  }

  div.container {
    display: flex;

    > div {
      border-top: 1px;
      border-right: 0;
      border-bottom: 1px;
      border-left: 1px;
      border-style: solid;
      border-color: #ccc;
      width: 100%;
      padding: 0.5em;
      display: flex;
      align-items: center;

      &:last-child {
        border-right: 1px solid #ccc;
      }
    }

    select, input, button {
      font-size: 1em;
    }

    div.search {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 25%;

      input {
        width: 100%;
      }
    }

    div.find {
      padding: 0;
      background-color: $red;

      button {
        border: 0;
        padding: 0.5em;
        width: 100%;
        background: transparent;
        color: $white;
        font-weight: bold;
      }
    }
  }
}
