$fontFamily: 'Source Sans Pro', sans-serif;
$red: #da3743;
$white: white;


body {
  padding: 0;
  margin: 0;
  font-family: $fontFamily;
}

div.welcome {
  padding: 5em;
}

div.restaurant-profile-header {
  display: flex;
  background-color: #222;
  color: $white;
  padding: 1em;
  justify-content: space-between;

  div.img-container > img {
    border-radius: 10px;
  }

  div.contacts {
    align-self: center;
    margin-right: 2em;
  }
}
