@import 'colors';

$borderRadius: 5px;
$border: 1px solid #999;

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

div.nav-bar {
  background: $lightGray;
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    li {
      padding: 0.5em;
      a {
        color: $gray;
      }
      a:link {
        text-decoration: none;
      }
    }
  }
}

div.content {
  padding: 2em;
}

div.search {
  ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      div.restaurant {
        margin: 0.125em;
        padding: 0;
        border-radius: $borderRadius;
        border: $border;
        height: 130px;
        width: 130px;
        opacity: 0.75;
        background-position: center;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

div.restaurant {
  img {
    border-radius: $borderRadius;
    border: $border;
  }
}
