{
  "extends": "airbnb",
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off"
  },
  "env": {
    "browser": true
  },
  "globals": {
    "__AUTOCOMPLETE__": true
  }
}
