doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
