doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .nav-bar
      ul
        li
          a(href="/") AnotherTable
        li
          a(href="/search") Search
    .content
      block content
    script(src="/reload/reload.js")
