doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    navbar
      ul
        li
          a(href="/") AnotherTable
        li
          a(href="/search") Search
    main
      block content
    script(src="/reload/reload.js")
