doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    .nav-bar
      ul
        li
          a(href="/") AnotherTable
        li
          a(href="/restaurant") Restaurant
        li
          a(href="/search") Search
    .content
      block content
    script(src="/reload/reload.js")
