extends layout

block content
  ul.restaurants-list
    for restaurant in restaurants
      li.restaurants-list__list-item(style="background-image: url("+ restaurant.image_url +");")
        a(href= `/restaurant/${restaurant.id}`)
