extends layout

block content
  .search
    ul
      for restaurant in restaurants
        li
          a(href= `/restaurant/${restaurant.id}`)
            .restaurant(style="background-image: url("+ restaurant.image_url +");")
